{% extends "dashboard/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{{request.seo.title}} | Xilaset.org{% endblock %}
{% block head_description %}{{request.seo.description}}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">{% trans "Home"%}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{%trans "Change Password"%}</li>
</ol>
{% endblock %}


{% block body %}
<div class="row">
    
    <div class="col-md-2 col-sm-12 col-xs-12 gutter"></div>
    <div class="col-md-8 col-sm-12 col-xs-12 gutter">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary form-control" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12 gutter"></div>
</div>
{% endblock %}